/*
body {
    margin: 60px auto;
    width: 70%;
}

nav ul,
footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/

/*Page border*******************/
#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #500000;
    width: 100%;
}

#banner-content {
    margin: 0px auto;
    padding: 0px;
}

#top,
#bottom,
#left,
#right {
    background: #500000;
    position: fixed;
}

#left,
#right {
    top: 0px;
    bottom: 0px;
    width: 10%;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

#top,
#bottom {
    left: 0px;
    right: 0px;
    height: 40px;
}

#top {
    top: 0px;
}

#bottom {
    bottom: 0px;
}

/*******************************/

/*Entire page*******************/
html {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    width: 80%;
}

/*******************************/

/*Links************************/
a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

/*******************************/


/*Lists************************/
nav ul {
    padding: 0px;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

/*******************************/
