/*Page border*******************/
#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #4e4e4e;
    width: 100%;
    height: 5%;
}

#banner-content {
    top: 0px;
    left: 0px;
    position: fixed;
}

/*
#banner-button {
    float: left;
    background: #4e4e4e;
    color: rgb(238, 238, 238, 1);
    border: none;
}

#banner-button:hover {
    opacity: 0.5;
}
*/

.inline-buttons {
    float: left;
    width: 50vw;
}

.block {
    border: 1px solid rgb(238, 238, 238, 1);
    background-color: #4e4e4e;
    color: rgb(238, 238, 238, 1);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #ddd;
    color: black;
}

#bottom,
#left,
#right {
    background: #000000;
    position: fixed;
}

#left,
#right {
    top: 0px;
    bottom: 0px;
    width: 10%;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

#bottom {
    left: 0px;
    right: 0px;
    height: 40px;
}

#bottom {
    bottom: 0px;
}

/*******************************/

/*Entire page*******************/
html {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: rgb(238, 238, 238, 1);
    margin: auto;
    background-color: rgb(53, 54, 58);
}

/*******************************/

/*Links************************/
a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

/*******************************/


/*Lists************************/
nav ul {
    padding: 0px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

/*******************************/

/*Body*/
body {
    text-align: center;
    margin-top: 20%;
}

/*******************************/
