<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/resume/Resume.pdf">Resume</a></li>
        </ul>
    </nav>
    <footer>
        <ul>
            <li><a href="mailto:michaelmckinsey1@gmail.com">MichaelMcKinsey1@gmail.com</a></li>
            <li><a href="https://github.com/MichaelMcKinsey1">github.com/MichaelMcKinsey1</a></li>
        </ul>
    </footer>
</body>

</html>
